Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Freeze-time for test_node_relay_and_power
  tests/test_usb.py
Due: userdata

Update 0028-data from test-output
  tests/stick_test_data.py
Due: userdata

Improve CHANGELOG
  CHANGELOG.md
Due: none

Clean up
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Improve write_cache() function, suggested by CRAI
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Fix missing import
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

fixup: improve-cache-writing Python code reformatted using Ruff
  plugwise_usb/helpers/cache.py
  plugwise_usb/network/cache.py
Due: userdata, pylint

More fixes
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Improve
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Fix another missing import
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

fixup: improve-cache-writing Python code reformatted using Ruff
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Ruff fix
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Fix indent
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Bump version to v0.46.1a2 for testing
  pyproject.toml
Due: none

Sort imports
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Final CRAI improvements
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

CRAI suggestions
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Use suppress insteady of try-except
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

One more CRAI improvement
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Remove all POSIX related suggestions
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Bump to 0.46.1a3 for testing
  pyproject.toml
Due: none

Don't store Circle_Plus in nodetypes cache
  plugwise_usb/network/cache.py
Due: userdata, pylint

Adapt testing
  tests/test_usb.py
Due: userdata

Break long line
  plugwise_usb/network/cache.py
Due: userdata, pylint

Revert "Adapt testing"
  tests/test_usb.py
Due: userdata

Better test adaptation
  tests/test_usb.py
Due: userdata

Also block plus-device when reading from cache
  plugwise_usb/network/cache.py
Due: userdata, pylint

import random
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Use freeze_time to fix the test-datetime
  tests/test_usb.py
Due: userdata

Try
  tests/stick_test_data.py
Due: userdata

Fix datetime returned by CirclePlus
  tests/stick_test_data.py
Due: userdata

Try 2
  tests/stick_test_data.py
Due: userdata

Try 3
  tests/stick_test_data.py
Due: userdata

Debug datetimes
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Move freeze_time to test_energy_circle()
  tests/test_usb.py
Due: userdata

Add missing import
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
