Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

Full test-output
  scripts/tests_and_coverage.sh
Due: none

Try 2
  tests/test_usb.py
Due: userdata

10s offset Circle
  tests/stick_test_data.py
Due: userdata

fixup: test_bouwew Python code reformatted using Ruff
  tests/stick_test_data.py
Due: userdata

Try
  tests/stick_test_data.py
Due: userdata

Try 3
  tests/stick_test_data.py
Due: userdata

Freeze time a the full hour
  tests/test_usb.py
Due: userdata

Calculate also difference in days,
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Fix time for CircleEnergyLogsResponses
  tests/stick_test_data.py
Due: userdata

More logging clean up
  tests/test_usb.py
Due: userdata

Back to using freeze_time for both related testcases
  tests/test_usb.py
Due: userdata

Use freeze_time to fix the test-datetime
  tests/test_usb.py
Due: userdata

Test larger offset
  tests/stick_test_data.py
Due: userdata

Debug datetimes
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Modernize %-operator formatting
  tests/stick_test_data.py
Due: userdata

Debug weekday to large difference
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Add CirclePlusRealTimeClockSetRequest with ACK
  tests/stick_test_data.py
Due: userdata

Update CHANGELOG
  CHANGELOG.md
Due: none

v0.47.0a0 test-version
  pyproject.toml
Due: none

Line up debug messages
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Replave utc_now by fixed_time
  tests/stick_test_data.py
Due: userdata

Clean up
  tests/stick_test_data.py
Due: userdata

Improve pytest settings
  pyproject.toml
Due: none

Ruffed
  tests/stick_test_data.py
Due: userdata

Disable pytest logging
  pyproject.toml
Due: none

Improve clock-sync related log messages
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

CRAI suggestions
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Change debug levels
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Set release-version 0.47.0 in pyproject.toml
  pyproject.toml
Due: none

Check for file-exists in read_cache()
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

Correct function-name
  plugwise_usb/network/cache.py
  plugwise_usb/network/registry.py
Due: userdata, pylint

Also block adding Circle+ to nodetype-cache
  plugwise_usb/network/cache.py
Due: userdata, pylint

Adapt shorter functionname in testcode
  tests/test_usb.py
Due: userdata

Bump to v0.47.1a0 test-version
  pyproject.toml
Due: none

Improve debug-message, downgrade to info
  plugwise_usb/network/cache.py
Due: userdata, pylint

Set release-version 0.47.1 in pyproject.toml
  pyproject.toml
Due: none

Use common caching actions from repo - bump py314
  .github/actions/restore-venv/action.yml
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: none
