Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Hope this solves the SQ complaint
  tests/test_usb.py
Due: userdata

bump testpypi to a6
  pyproject.toml
Due: none

remove dead code
  plugwise_usb/network/registry.py
Due: userdata, pylint

Fix sensitivity_level typing and description
  plugwise_usb/api.py
Due: userdata, pylint

CR requested change and nitpick
  plugwise_usb/network/registry.py
Due: userdata, pylint

CR: harden discovery callback during full scan
  plugwise_usb/network/registry.py
Due: userdata, pylint

Correct varname, implement docstring suggestion
  plugwise_usb/network/registry.py
Due: userdata, pylint

fixup: mdi_CPRegistry Python code reformatted using Ruff
  plugwise_usb/network/registry.py
Due: userdata, pylint

Ruff fixes
  plugwise_usb/network/registry.py
Due: userdata, pylint

Revert back to simple docstring
  plugwise_usb/network/registry.py
Due: userdata, pylint

Retry adding descriptive docstring
  plugwise_usb/network/registry.py
Due: userdata, pylint

Fixup 2
  plugwise_usb/network/registry.py
Due: userdata, pylint

bump to v0.44.10
  CHANGELOG.md
  pyproject.toml
Due: none

ruff CHANGELOG
  CHANGELOG.md
Due: none

improve wording
  CHANGELOG.md
Due: none

one more try
  CHANGELOG.md
Due: none

Remove double reverse sorting
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Implement suggestions
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Remove replaced timestamp checking code
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Simplify energy_log_update()
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Add new energy_log_record at the front of the cache
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

energy_log_update(): check if the timestamp of the log is recent
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Sort and prune the records loaded from cache
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

fixup: ener-logs-cache-3 Python code reformatted using Ruff
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Add_pulse_logs from sorted and pruned restored cache data
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Allow complexity for now
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Switch pulses and timestamp positions
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to v0.44.11a0 for testing
  pyproject.toml
Due: none

Remove HOI logger
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Move energy-log validity-check into energy_log_update()
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Use MAX_LOG_HOUR as in pulses.py
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Implement CRAI suggestions
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Clean up
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Implement @ArnoutD's idea on how many logs to collect initially
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Adapt corresponding log-message
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Improve comment
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Stop missing_log collection when None or invalid data is collected
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
