Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

Fix sensitivity_level property
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

print wrong value of level in de log
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

CR: Nitpick on formatting
  plugwise_usb/nodes/node.py
Due: userdata, pylint

CR: Catched missing update
  plugwise_usb/api.py
Due: userdata, pylint

fixup: mdi_scan Python code reformatted using Ruff
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

update CHANGELOG bump version to 0.44.12
  CHANGELOG.md
  pyproject.toml
Due: none

release 0.44.12a2
  pyproject.toml
Due: none

Revert node/set_motion_sensitivity_level() typing
  plugwise_usb/nodes/node.py
Due: userdata, pylint

store MotionSensitivity enum which makes communication to HA easier
  plugwise_usb/api.py
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

expose scheduling of light calibration
  plugwise_usb/api.py
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

test improvements recommended by SonarCloud
  tests/test_usb.py
Due: userdata

follow CR on how to perform the test
  tests/test_usb.py
Due: userdata

simplify timer to use task cancellation instead of future
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

bump testpypi version
  CHANGELOG.md
  pyproject.toml
Due: none

allow get_state request for non-data NodeFeatures
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/node.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  plugwise_usb/nodes/sense.py
  plugwise_usb/nodes/switch.py
Due: userdata, pylint

fix debug note
  plugwise_usb/nodes/node.py
Due: userdata, pylint

CR: Nitpick language
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

CR: fix ruff
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

testpypi release 0.44.13a1
  pyproject.toml
Due: none

update changelog and dump to 0.44.13
  CHANGELOG.md
  pyproject.toml
Due: none

add sense hysteresis request
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Add extra logging for checking the energy-logs in memory
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Save energy-logs in memory to cache instead of adding to the cache-file
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to v0.44.14a0 for testing
  pyproject.toml
Due: none

Remove loggers, add missing awaits, avoid excessive cache-writing
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Save cache at suitable moments.
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Guard save_cache() where needed
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Minimize cache-writes
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fix setting cache_updated state
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Optimize use of _energy_log_records_save_to_cache() as suggested
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Update docstring, fix typo as suggested
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

fixup: energy_log_cache Python code reformatted using Ruff
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Implement suggested improvements
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

energy_log_update(): improve docstring
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

generate api class for humidity/temperature hysteresis
  plugwise_usb/api.py
Due: userdata, pylint

Rework energy_log_update() by combining previously used and recent code
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fix error, improve, as suggested
  plugwise_usb/nodes/circle.py
Due: userdata, pylint
