Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

Make use of improved energy_log_update() output logic
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a9
  pyproject.toml
Due: none

Change logic: collect energy_logs for address 0 first, then check if earlier address contains outdated data
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Further improvements, add comment, debug-logging
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a11
  pyproject.toml
Due: none

Bump to a10
  pyproject.toml
Due: none

Reduce complexity, improve
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fixes after rebase
  plugwise_usb/nodes/node.py
  tests/test_usb.py
Due: userdata, pylint

More fixes
  plugwise_usb/nodes/node.py
  tests/test_usb.py
Due: userdata, pylint

fixup: clear-cache Python code reformatted using Ruff
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/helpers/counter.py
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Clean up
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Set to v0.44.4 release-version
  pyproject.toml
Due: none

Ruff fixes/block
  plugwise_usb/network/__init__.py
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Add .python-version to .gitignore
  .gitignore
Due: none

Biome reinstatement
  .pre-commit-config.yaml
  scripts/setup_test.sh
  scripts/tests_and_coverage.sh
Due: none

Let PlugwiseCirclePlus class load NodeFeature.CIRCLE too
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Bump to 0.44.5a0 test-version
  pyproject.toml
Due: none

Update related test-assert
  tests/test_usb.py
Due: userdata

Implement improvement suggestion
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Set to v0.44.5 release-version
  pyproject.toml
Due: none

Add FEATURES_CIRCLE constant and implement
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

CirclePlus: implement super_loading of Circle base class
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

keep repeating discover_nodes until all registered nodes are online
  plugwise_usb/constants.py
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Revert rescheduling discovery for now Update registry caching to only store mac-NodeType combinations
  plugwise_usb/network/__init__.py
  plugwise_usb/network/cache.py
  plugwise_usb/network/registry.py
  tests/test_usb.py
Due: userdata, pylint

ruff format
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Make sure a node loads from cache even if it is offline. If loading from cache fails while node is offline, retry loading from network_init.
  plugwise_usb/network/__init__.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/node.py
Due: userdata, pylint

fix coderabitai
  plugwise_usb/network/__init__.py
  plugwise_usb/network/cache.py
  plugwise_usb/network/registry.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/node.py
Due: userdata, pylint

CodeRabitAI again
  plugwise_usb/network/cache.py
Due: userdata, pylint

update similar to coderabbit suggestion
  plugwise_usb/network/cache.py
Due: userdata, pylint

address comments from @CoMPaTech
  .gitignore
  plugwise_usb/constants.py
  plugwise_usb/network/__init__.py
  plugwise_usb/network/registry.py
  plugwise_usb/nodes/node.py
  tests/test_usb.py
Due: userdata, pylint

cancel straggler tasks on stop()
  plugwise_usb/network/__init__.py
Due: userdata, pylint

SonarQubeCloud improvements
  plugwise_usb/network/__init__.py
  plugwise_usb/network/registry.py
Due: userdata, pylint

update CHANGELOG and version
  CHANGELOG.md
  pyproject.toml
Due: none

Update switch to return SwitchGroup object conforming to other node implementations. Update switch to publish switch group number
  plugwise_usb/api.py
  plugwise_usb/messages/responses.py
  plugwise_usb/nodes/helpers/firmware.py
  plugwise_usb/nodes/node.py
  plugwise_usb/nodes/switch.py
  tests/test_usb.py
Due: userdata, pylint

simply again, separation between state and group is not for the module solve
  plugwise_usb/api.py
  plugwise_usb/nodes/helpers/firmware.py
  plugwise_usb/nodes/node.py
  plugwise_usb/nodes/switch.py
  tests/test_usb.py
Due: userdata, pylint

implement coderabitai suggestion
  plugwise_usb/api.py
  plugwise_usb/nodes/switch.py
Due: userdata, pylint

update changelog
  CHANGELOG.md
  pyproject.toml
Due: none

update title
  plugwise_usb/api.py
Due: userdata, pylint
