Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Bump version to 0.44.9
  pyproject.toml
Due: none

Add missing awaits
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Sed: remove unneeded @raise_not_loaded, reorder
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Scan: remove unneeded @raise_not_loaded
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Full test-output
  scripts/tests_and_coverage.sh
Due: none

sed_configure(): try-except response
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Update/patch failing sed test-asserts
  tests/test_usb.py
Due: userdata

scan_configure(): try-except response
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

fixup: missing_awaits Python code reformatted using Ruff
  tests/test_usb.py
Due: userdata

Fix missing awaits
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Disable @raise_not_loaded
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

HOI Debug
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Comment out not required update? 2x
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Add missing scan _load_defaults()
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

No NodeError, always loaded
  tests/test_usb.py
Due: userdata

Comment out setting _sed_config_task_scheduled
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Sleep longer
  tests/test_usb.py
Due: userdata

HOI debug 2
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Guard for coroutine tasks
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Scan: don't set _new_attributes when not required
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Add more missing await's
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Fix test assert
  tests/test_usb.py
Due: userdata

Remove unneeded @raise_on_loaded
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Don't reset self._new_* at response is None
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Remove commented-out @raise_on_loaded
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Try
  tests/test_usb.py
Due: userdata

Try 2
  tests/test_usb.py
Due: userdata

HOI debug 3
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Reset self._new_* when a ScanConfigure fails and is accepted
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Protect queue.get() with timeout
  plugwise_usb/connection/queue.py
Due: userdata, pylint

fixup: queue Python code reformatted using Ruff
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Try
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Don't init self._new_* at loading
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Try 3
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Line up _scan_configure(), _scan_configure_task()
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

More lining up with defaults
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Try 4
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Extra debug
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Sed: add set_awake_duration equal-check
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
