Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

expose logaddress and create set-function to update logaddress
  plugwise_usb/api.py
  plugwise_usb/messages/requests.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/helpers/counter.py
  tests/test_usb.py
Due: userdata, pylint

bump testpypi version number
  pyproject.toml
Due: none

improve node_info_update/node_detail_update logic
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

CR: fix language
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

CR: recommendations implemented
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

return None if node_info is None
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

accept NodeInfoMessage for update_node_details
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

update CHANGELOG
  CHANGELOG.md
Due: none

Append report interval setting to Sense node configuration. Extend MockStickController with a response queue to send allow sending different responses sequentially
  plugwise_usb/api.py
  plugwise_usb/messages/requests.py
  plugwise_usb/nodes/sense.py
  tests/test_usb.py
Due: userdata, pylint

remove repeated logmessages by pushing into function
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

CR: fix docstring, type definition error
  plugwise_usb/api.py
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

CR: cleanup test_usb.py
  tests/test_usb.py
Due: userdata

CR: type fix and docstring
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

CR: Make response queue instance-scoped (avoid cross-test bleed).
  tests/test_usb.py
Due: userdata

CR: Fix AttributeError
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

update CHANGELOG, bump to 0.46.0
  CHANGELOG.md
  pyproject.toml
Due: none

include new feature in testing
  tests/test_usb.py
Due: userdata

CR: implement code deduplication and aming improvements
  tests/test_usb.py
Due: userdata

CR: nitpick on naming/typedef
  tests/test_usb.py
Due: userdata

Update NodeResetResponse info
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Update unregister_node functions
  plugwise_usb/network/__init__.py
  plugwise_usb/network/registry.py
Due: userdata, pylint

Add unregister_node() to api
  plugwise_usb/api.py
Due: userdata, pylint

Add reset_node() function description to PlugwiseNode protocol
  plugwise_usb/api.py
Due: userdata, pylint

Add NODE_RESET_ACK NodeResponseType
  plugwise_usb/messages/responses.py
Due: userdata, pylint

Add missing await
  plugwise_usb/network/registry.py
  scripts/tests_and_coverage.sh
  tests/test_usb.py
Due: userdata, pylint

Try
  tests/test_usb.py
Due: userdata

Add reset_node() function
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Try 2
  tests/test_usb.py
Due: userdata

Add reset_node request plus response
  tests/stick_test_data.py
Due: userdata

Try 3
  tests/test_usb.py
Due: userdata

Correct message
  tests/stick_test_data.py
Due: userdata

Try 4
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Line up mac
  tests/test_usb.py
Due: userdata

Update/correct NodeResetRequest
  plugwise_usb/messages/requests.py
Due: userdata, pylint

NodeReset requires _mac_in_bytes
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Add node-remove messages
  tests/stick_test_data.py
Due: userdata

Implement CR-suggestions
  plugwise_usb/network/__init__.py
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Change NodeType to IntEnum
  plugwise_usb/api.py
Due: userdata, pylint

Write node_reset_response in one line
  tests/stick_test_data.py
Due: userdata

Update node_reset message with CRC
  tests/stick_test_data.py
Due: userdata
