Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

improve readability circle.py expose dirty flag properly
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

remove awake queue
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

remove temporary test-escape
  tests/test_usb.py
Due: userdata

fix mistake
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Address @bouwew comments Address sonarqubecloud comments
  plugwise_usb/network/__init__.py
  plugwise_usb/network/cache.py
  plugwise_usb/network/registry.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  tests/test_usb.py
Due: userdata, pylint

remove test-debug message fix testing by providing cache-data to SED
  plugwise_usb/nodes/sed.py
  tests/test_usb.py
Due: userdata, pylint

bugfix ()=>[]
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

fix unreachable code
  plugwise_usb/network/__init__.py
Due: userdata, pylint

check if cache is available before prune operation
  plugwise_usb/network/registry.py
Due: userdata, pylint

generate testpypi
  pyproject.toml
Due: none

ruff format
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

reintegrate delay_task call in order to let awake response finish first, otherwise the message sending queue crashes. Remove node_ping as this was not benificial
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

fix introduced cache storage bug of sensitivity level
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

remove asserts combined with pytest.raises
  tests/test_usb.py
Due: userdata

Ruffed
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  tests/test_usb.py
Due: userdata, pylint

Fix typo
  plugwise_usb/api.py
Due: userdata, pylint

Improve MotionSensitivity class
  plugwise_usb/api.py
Due: userdata, pylint

Bump to a3 for testpypi update
  pyproject.toml
Due: none

Adapt scan.py
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Revert sens-level cache value
  tests/test_usb.py
Due: userdata

CR: Fix consistency self._registry type
  plugwise_usb/network/__init__.py
  plugwise_usb/network/registry.py
Due: userdata, pylint

CR: nitpick on debug message
  tests/test_usb.py
Due: userdata

More adaptions to registry-change
  plugwise_usb/network/registry.py
Due: userdata, pylint

Bump to a5
  pyproject.toml
Due: none

Add new energy_log_record at the front of the cache
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Remove double reverse sorting
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

energy_log_update(): check if the timestamp of the log is recent
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

CR: fix function template, not sure what to do with the bool though
  plugwise_usb/network/registry.py
Due: userdata, pylint

fix public API structure
  plugwise_usb/network/registry.py
Due: userdata, pylint

Remove replaced timestamp checking code
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

call list attribute as list instead of function
  plugwise_usb/network/registry.py
Due: userdata, pylint

docstring fixes
  plugwise_usb/network/registry.py
Due: userdata, pylint

Simplify energy_log_update()
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

CR: Proposed fix to not block while-sleep in case registry scan is not successfull durin test
  tests/test_usb.py
Due: userdata

Implement suggestions
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

CR: remove dead code
  tests/test_usb.py
Due: userdata

fake_cache only to return string or bool
  tests/test_usb.py
Due: userdata

Fix missing await in test
  tests/test_usb.py
Due: userdata

CR nitpicks
  tests/test_usb.py
Due: userdata
