Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

fix ruff D202 [*] No blank lines allowed after function docstring
  plugwise_usb/messages/responses.py
  plugwise_usb/nodes/__init__.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/helpers/pulses.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

ruff: PLW2901 `for` loop variable `address` overwritten by assignment target
  plugwise_usb/network/registry.py
Due: userdata, pylint

ruff: PLR2004 static constants (first dash, leaving out work on energy log constants considering ongoing effort
  plugwise_usb/constants.py
  plugwise_usb/nodes/helpers/pulses.py
  plugwise_usb/nodes/node.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

remove working ruff tests from pyproject.toml
  pyproject.toml
Due: none

fixup: cpaj Python code reformatted using Ruff
  plugwise_usb/__init__.py
  plugwise_usb/api.py
  plugwise_usb/connection/__init__.py
  plugwise_usb/connection/queue.py
  plugwise_usb/connection/receiver.py
  plugwise_usb/connection/sender.py
  plugwise_usb/constants.py
  plugwise_usb/helpers/cache.py
  plugwise_usb/helpers/util.py
  plugwise_usb/messages/__init__.py
  plugwise_usb/messages/properties.py
  plugwise_usb/messages/requests.py
  plugwise_usb/messages/responses.py
  plugwise_usb/network/__init__.py
  plugwise_usb/network/cache.py
  plugwise_usb/network/registry.py
  plugwise_usb/nodes/celsius.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/helpers/__init__.py
  plugwise_usb/nodes/helpers/counter.py
  plugwise_usb/nodes/helpers/pulses.py
  plugwise_usb/nodes/helpers/subscription.py
  plugwise_usb/nodes/node.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  plugwise_usb/nodes/sense.py
  plugwise_usb/nodes/stealth.py
  plugwise_usb/nodes/switch.py
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata, pylint

nitpick
  plugwise_usb/constants.py
  plugwise_usb/helpers/cache.py
Due: userdata, pylint

fixup: cpaj Python code reformatted using Ruff
  plugwise_usb/constants.py
Due: userdata, pylint

exclude .cache
  .gitignore
Due: none

fix ruff warnings
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata

fix ruff D100 missing note
  tests/stick_test_data.py
Due: userdata

Attempt to fix biome
  .github/workflows/verify.yml
  scripts/setup_test.sh
Due: none

Disable biome for now
  .github/workflows/verify.yml
  scripts/tests_and_coverage.sh
Due: none

Disable biome for now but leave correctly
  .github/workflows/verify.yml
Due: none

fix ruff PLR0912 and PLR0913 disable update_node_details tests (need help!)
  plugwise_usb/api.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/node.py
  tests/test_usb.py
Due: userdata, pylint

re-enable node_details test
  tests/test_usb.py
Due: userdata

remove async keyword
  plugwise_usb/nodes/node.py
Due: userdata, pylint

ignore appdata_store folder
  .gitignore
Due: none

reduce complexity by splitting full and quick version of registration collection
  plugwise_usb/network/registry.py
Due: userdata, pylint

update changelog
  CHANGELOG.md
Due: none

add PR271 to changelog
  CHANGELOG.md
Due: none

fix type in changelog
  CHANGELOG.md
Due: none

Empty string not needed for NodeCache init
  plugwise_usb/network/__init__.py
Due: userdata, pylint

_energy_log_records_load_from_cache(): guard for empty log
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fix logger-error, fix pylance-error
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Add debug-log-message
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Reset the complete pulse collection
  plugwise_usb/network/__init__.py
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Improve/add _logs_missing() debug logging
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Move energy-reset function into circle.py
  plugwise_usb/network/__init__.py
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Reset pulse-collection and request a NodeInfo update
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/helpers/counter.py
Due: userdata, pylint

Save cache from memory
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Reset PulseCollection._logs at energy_reset too
  plugwise_usb/network/__init__.py
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Clear energy_collection from cache when resetting energy-logging
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Fix pylint issue
  plugwise_usb/__init__.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Fix network import
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fix
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Implement reset-improvement suggestion
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Revert pulses-change and improve
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Update related test-asserts
  tests/test_usb.py
Due: userdata

Implement improved guarding as suggested
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
