Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Migrate to Trusted Publishing (pypi)
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  CHANGELOG.md
Due: none

Skip check for tool-merging as well
  .github/workflows/merge.yml
Due: none

CRAI suggestions
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Propagate NodeType to node on init Unify loading of SED nodes Setup proper defaults if cache is missing or lacking and requests updates when nodes are awake Fix testing.
  plugwise_usb/nodes/__init__.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/node.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  plugwise_usb/nodes/sense.py
  plugwise_usb/nodes/switch.py
  tests/test_usb.py
Due: userdata, pylint

remove remaing node_info_default and double name definition
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Fully match version
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Implement DroppingPriorityQueue class
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Update logger-warnings
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Bump to a7
  pyproject.toml
Due: none

Add increase correction-counter when a timeout occurs
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Remove double line, debug
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Remove HOI-log-message
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Bump to a5
  plugwise_usb/connection/queue.py
  pyproject.toml
Due: userdata, pylint

Bump to a4
  pyproject.toml
Due: none

Revert priority-comparing, as suggested
  plugwise_usb/messages/__init__.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Add missing docstrings
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Move debug
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Ruff fix
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Add comment about queue rate limiting
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Change logger-type to warning to show the request being sent
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Add sortedcontainers to dependencies
  pyproject.toml
Due: none

Bump to a6
  pyproject.toml
Due: none

Improve docstring
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Remove all request/response counter related
  plugwise_usb/connection/manager.py
  plugwise_usb/connection/queue.py
  plugwise_usb/connection/receiver.py
  plugwise_usb/connection/sender.py
Due: userdata, pylint

Ruff fixes
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Remove use of queue_depth
  plugwise_usb/connection/manager.py
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Add dropped message counter and use it to recalculate queue depth
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Revert "Revert priority-comparing, as suggested"
  plugwise_usb/messages/__init__.py
Due: userdata, pylint

Remove failing debug-line
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Add more logging
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Set queue-length to 7 seconds max
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Show queue maxsize
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Use asyncio.Queue.qsize()
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Add request.priority to debug message
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Set to v0.44.8a0 test-version
  pyproject.toml
Due: none

Test: fix missing await by removing double line
  tests/test_usb.py
Due: userdata

Bump to a3
  pyproject.toml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
