Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Use qsize() to obtain queue depth
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Remove use of queue_depth
  plugwise_usb/connection/manager.py
Due: userdata, pylint

Remove all request/response counter related
  plugwise_usb/connection/manager.py
  plugwise_usb/connection/queue.py
  plugwise_usb/connection/receiver.py
  plugwise_usb/connection/sender.py
Due: userdata, pylint

Add comment about queue rate limiting
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Test: fix missing await by removing double line
  tests/test_usb.py
Due: userdata

Bump to v0.44.8a8 test-version
  pyproject.toml
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove double load_defaults calls. Improve fallback to load_defaults in SED
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Extend default values loading to Sense and Switch
  plugwise_usb/nodes/sense.py
  plugwise_usb/nodes/switch.py
Due: userdata, pylint

Let SED->load() return None
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  plugwise_usb/nodes/sense.py
  plugwise_usb/nodes/switch.py
  tests/test_usb.py
Due: userdata, pylint

Fix return value
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

await _load_defaults
  plugwise_usb/nodes/sed.py
  tests/test_usb.py
Due: userdata, pylint

Change load() to return None in all cases
  plugwise_usb/network/__init__.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  plugwise_usb/nodes/sense.py
  plugwise_usb/nodes/switch.py
  tests/test_usb.py
Due: userdata, pylint

fix return value
  plugwise_usb/nodes/circle.py
  tests/test_usb.py
Due: userdata, pylint

Retain the added functionality
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Revert Improve energy_log_update() output logic
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Improve comment
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Import added constant from constants.py
  plugwise_usb/connection/queue.py
  plugwise_usb/constants.py
Due: userdata, pylint

Define constant REPORT_QUEUE_FILLING_UP and set it to 8
  plugwise_usb/connection/queue.py
Due: userdata, pylint

fixup: alt_prio_queue Python code reformatted using Ruff
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Set to v0.44.8 release-version
  pyproject.toml
Due: none

Migrate to Trusted Publishing (pypi)
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  CHANGELOG.md
Due: none

Skip check for tool-merging as well
  .github/workflows/merge.yml
Due: none

Fully match version
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

CRAI suggestions
  .github/workflows/merge.yml
  .github/workflows/verify.yml
Due: none

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
