Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

Update node_remove message with CRC
  tests/stick_test_data.py
Due: userdata

Use self.node_type.value to get to int-type
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Fix test_network_cache() assert_called_with
  tests/test_usb.py
Due: userdata

Delete the node-cache of the deleted Node
  plugwise_usb/network/registry.py
Due: userdata, pylint

Ruffed
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Revert test-script change
  scripts/tests_and_coverage.sh
Due: none

Revert adding unregister_node() to api
  plugwise_usb/api.py
Due: userdata, pylint

Remove test-debug-messages
  plugwise_usb/network/__init__.py
  tests/test_usb.py
Due: userdata, pylint

Revert to original response.ack_id
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Remove commented NODE_RESET_NACK
  plugwise_usb/messages/responses.py
Due: userdata, pylint

Implements CR suggestions
  plugwise_usb/messages/requests.py
  tests/stick_test_data.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to v0.46.1a0 for testing
  pyproject.toml
Due: none

Correct varname
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Rewriting is required when saving the updated node_type cache
  plugwise_usb/network/cache.py
Due: userdata, pylint

First remove, then reset
  plugwise_usb/network/registry.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Update comment
  plugwise_usb/network/cache.py
Due: userdata, pylint

Update node_type cache:
  plugwise_usb/network/cache.py
Due: userdata, pylint

Update related test-asserts
  tests/test_usb.py
Due: userdata

Extend to all node_type formats used
  tests/test_usb.py
Due: userdata

Implement CRAI suggestions
  plugwise_usb/network/cache.py
Due: userdata, pylint

Optimize, improve comment
  plugwise_usb/network/cache.py
Due: userdata, pylint

More CRAI suggestions
  plugwise_usb/network/cache.py
Due: userdata, pylint

schedule clock synchronization every 60 seconds
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

add additional try/except
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

create declaration for clock sync period and set to 1 hour
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

add raise after except
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

update changelog
  CHANGELOG.md
Due: none

NodeReset requires _mac_in_bytes
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Write node_reset_response in one line
  tests/stick_test_data.py
Due: userdata

Add unregister_node() to api
  plugwise_usb/api.py
Due: userdata, pylint

Update unregister_node functions
  plugwise_usb/network/__init__.py
  plugwise_usb/network/registry.py
Due: userdata, pylint

Add node-remove messages
  tests/stick_test_data.py
Due: userdata

Try 2
  tests/test_usb.py
Due: userdata

Update/correct NodeResetRequest
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Implement CR-suggestions
  plugwise_usb/network/__init__.py
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Try
  tests/test_usb.py
Due: userdata

Correct message
  tests/stick_test_data.py
Due: userdata
