Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Comment-out unused imports
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Add debug-logging to _energy_log_records_load_from_cache()
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Improve
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to v0.44.4a0 test-version
  pyproject.toml
Due: none

Remove blank spaces
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Revert imports deletion
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Remove unused
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fully enable energy-resetting
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a2
  pyproject.toml
Due: none

Comment-out for testing
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Add NodeFeature.CIRCLE
  plugwise_usb/api.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/helpers/firmware.py
Due: userdata, pylint

Add detection of collecting outdated energy data
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Make use of the known energy intervals
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Remove caching of current_log_addres
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a3
  pyproject.toml
Due: none

Add guarding, as suggested
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Improve logic, the first collection is from the current_log_address
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fixes, improvements
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Also check if energy data from the current address is recent
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Improve energy-log-caching debug-logging
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Skip loading node_info from cache when Node is available
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Fixes
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Sort more update_node_info() arguments
  tests/test_usb.py
Due: userdata

Add/update cache-related logging
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Bump to a4
  pyproject.toml
Due: none

Don't save calibration data back to cache when loaded before
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fixes
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Bump to a6
  pyproject.toml
Due: none

Add explanation for max_count-guarding
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Add more _logs_missing() debugging
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Remove debug-logging, correct for double production logs
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Bump to a5
  pyproject.toml
Due: none

Fix issue, bump to a8
  plugwise_usb/nodes/helpers/pulses.py
  pyproject.toml
Due: userdata, pylint

Bump to a7
  pyproject.toml
Due: none

Handle no data present in address 0
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Limit missing logs collection to MAX_LOG_HOURS time period
  plugwise_usb/nodes/helpers/pulses.py
Due: userdata, pylint

Start adding coverage for None-data in address 0
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Don't save relay_lock state to back to cache when just loaded from cache
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Updates by ruff
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Improve energy_log_update() output logic
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
