Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

Try 4
  tests/test_usb.py
Due: userdata

Change time bij 30 secs
  tests/test_usb.py
Due: userdata

Fix 0028 datetime
  tests/stick_test_data.py
Due: userdata

Get proper datetime to compare the received datetime with
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Ruffed
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Try
  tests/stick_test_data.py
Due: userdata

Freeze time a the full hour
  tests/test_usb.py
Due: userdata

convert stick_test_data to class
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata

Revert back
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Update 0028-response to match change
  tests/stick_test_data.py
Due: userdata

Shorten, improve var names
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Try adding a 2nd optional response
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata

Try 2
  tests/test_usb.py
Due: userdata

Try 3
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata

Add missing s in %s
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Remove double functionality, already present in node_rejoin_message()
  plugwise_usb/network/registry.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

v0.46.1 release
  CHANGELOG.md
Due: none

CHANGELOG: fix spelling
  CHANGELOG.md
Due: none

Also update pyproject.toml
  pyproject.toml
Due: none

add additional try/except
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

schedule clock synchronization every 60 seconds
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

create declaration for clock sync period and set to 1 hour
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

add raise after except
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Line up circle code in detail
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Move freeze_time to test_energy_circle()
  tests/test_usb.py
Due: userdata

Clean up extra debug-logging
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

fix clock offset detection. Original code did not properly check for negative offsets.
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Try 2
  tests/stick_test_data.py
Due: userdata

Add missing import
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Revert "Clean up extra debug-logging"
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Fix datetime returned by CirclePlus
  tests/stick_test_data.py
Due: userdata

Try with 00D7
  tests/stick_test_data.py
Due: userdata

CirclePlus: handle time-diff larger than 24hrs
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Force int via value property
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

improve logging of clock offset value
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

fixup: test_bouwew Python code reformatted using Ruff
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/circle_plus.py
  tests/stick_test_data.py
Due: userdata, pylint

Update circle too
  plugwise_usb/nodes/circle.py
Due: userdata, pylint
