Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

Implement more suggestions
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fine tuning
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Bump to a3
  pyproject.toml
Due: none

Fix
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Update CHANGELOG with release-version
  CHANGELOG.md
  pyproject.toml
Due: none

unregister_node(): pass error up
  plugwise_usb/network/__init__.py
Due: userdata, pylint

missed one fix
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

generate api class for humidity/temperature hysteresis
  plugwise_usb/api.py
Due: userdata, pylint

CR: improve logging, fix logic error
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

CR: more comment nitpicks
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

CR: few nitpicks
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

SQC: fix call to _hysteresis_state_update
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

CR: improve comments
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

expand sense with hysteresis configuration and switch action
  plugwise_usb/api.py
  plugwise_usb/messages/requests.py
  plugwise_usb/nodes/helpers/firmware.py
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

initial testing code addition
  tests/test_usb.py
Due: userdata

add sense hysteresis request
  plugwise_usb/messages/requests.py
Due: userdata, pylint

bump to 0.45.0a1 on testpypi
  pyproject.toml
Due: none

bump testpypi version to 0.45.0
  pyproject.toml
Due: none

CR: fix delay
  tests/test_usb.py
Due: userdata

reduce function calls return motion property on get_state
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

CR: implement most of the proposed fixes
  plugwise_usb/api.py
  plugwise_usb/messages/requests.py
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

improve naming of dirty bit
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

SonarQube: remove the unused function parameter timestamp
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

remove NodeFeature.SWITCH
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

further CR fixes
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

bouwew: improve naming of state variables
  plugwise_usb/api.py
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

CR: avoid double publishing of SENSE_HYSTERESIS on success
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

switch groups are reversed
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

more docstring updates
  plugwise_usb/api.py
Due: userdata, pylint

publish NodeFeature.SENSE_HYSTERESIS on node awake bump testpipi to 0.45.0a2
  plugwise_usb/nodes/sense.py
  pyproject.toml
Due: userdata, pylint

reverse logic
  plugwise_usb/messages/requests.py
Due: userdata, pylint

CR: docupdate
  plugwise_usb/api.py
Due: userdata, pylint

include NodeFeature.HYSTERESIS in PUSHING_FEATURES
  plugwise_usb/api.py
Due: userdata, pylint

CR: unify publishing self.motion_config in all places
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

bump to 0.45.0!
  CHANGELOG.md
  pyproject.toml
Due: none

CR: fix docstring
  plugwise_usb/messages/requests.py
Due: userdata, pylint

CR: prefer None over 0.0 in case of default
  plugwise_usb/nodes/sense.py
Due: userdata, pylint

fix fault in test-order
  tests/test_usb.py
Due: userdata

fix naming 2.0
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
