Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

More optimization as suggested by @dirixmjm
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

fixup: improve-energy-caching Python code reformatted using Ruff
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

CRAI nitpick
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fix inverted filtering as suggested by CRAI
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a6
  pyproject.toml
Due: none

Follow CRAI suggestion fully
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a7
  pyproject.toml
Due: none

Revert back to sorted slots
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Set init for cache_updated bool
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Update CHANGELOG for v0.44.11 release
  CHANGELOG.md
Due: none

Bump to a8
  pyproject.toml
Due: none

Change logger to info
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Set release version to 0.44.11
  pyproject.toml
Due: none

Ensure venv working after restore
  .github/actions/restore-venv/action.yml
Due: none

Rework
  .github/actions/restore-venv/action.yml
  .github/workflows/verify.yml
Due: none

Rework
  .github/workflows/verify.yml
Due: none

Improve further
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Promote more clear message to warning
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Bump to v0.44.12a0 test-version
  pyproject.toml
Due: none

Ruffed
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Various CRAI nitpicks
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Fix unreachable suppression, a CRAI nitpick
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Remove useless warning message
  plugwise_usb/connection/sender.py
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Fix missing request.resend parentheses
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Minor f-string fixes
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Avoid duplicate NodeEvent.LOADED notifications
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Revert adding parentheses, resend is a bool
  plugwise_usb/connection/queue.py
Due: userdata, pylint

Bump to a1
  pyproject.toml
Due: none

Unsubscribe all node message subscriptions, as suggested
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Remove redundant return
  plugwise_usb/messages/requests.py
Due: userdata, pylint

One more CRAI nitpick
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Fix typo
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Fix typo
  CHANGELOG.md
Due: none

Change two warning-messages to debug
  plugwise_usb/connection/queue.py
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Revert "Avoid duplicate NodeEvent.LOADED notifications"
  plugwise_usb/network/__init__.py
Due: userdata, pylint

CR: Add check on parameter not changed awake_duration
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

ruff scan
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

properly propagate configuration changes
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

fix test
  tests/test_usb.py
Due: userdata

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
