Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

Try 4
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Add reset_node() function
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Add reset_node() function description to PlugwiseNode protocol
  plugwise_usb/api.py
Due: userdata, pylint

Line up mac
  tests/test_usb.py
Due: userdata

Update node_remove message with CRC
  tests/stick_test_data.py
Due: userdata

Change NodeType to IntEnum
  plugwise_usb/api.py
Due: userdata, pylint

Try 3
  tests/test_usb.py
Due: userdata

Use self.node_type.value to get to int-type
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Update NodeResetResponse info
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Add NODE_RESET_ACK NodeResponseType
  plugwise_usb/messages/responses.py
Due: userdata, pylint

Add missing await
  plugwise_usb/network/registry.py
  scripts/tests_and_coverage.sh
  tests/test_usb.py
Due: userdata, pylint

Update node_reset message with CRC
  tests/stick_test_data.py
Due: userdata

Add reset_node request plus response
  tests/stick_test_data.py
Due: userdata

Remove test-debug-messages
  plugwise_usb/network/__init__.py
  tests/test_usb.py
Due: userdata, pylint

Remove commented NODE_RESET_NACK
  plugwise_usb/messages/responses.py
Due: userdata, pylint

Revert test-script change
  scripts/tests_and_coverage.sh
Due: none

Implements CR suggestions
  plugwise_usb/messages/requests.py
  tests/stick_test_data.py
Due: userdata, pylint

Ruffed
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Delete the node-cache of the deleted Node
  plugwise_usb/network/registry.py
Due: userdata, pylint

Revert adding unregister_node() to api
  plugwise_usb/api.py
Due: userdata, pylint

Revert to original response.ack_id
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Correct varname
  plugwise_usb/messages/requests.py
Due: userdata, pylint

Bump to v0.46.1a0 for testing
  pyproject.toml
Due: none

Bump to a1
  pyproject.toml
Due: none

First remove, then reset
  plugwise_usb/network/registry.py
Due: userdata, pylint

Add debug-logger for node-clear_cache
  plugwise_usb/nodes/node.py
Due: userdata, pylint

Revert NodeType back to
  plugwise_usb/api.py
Due: userdata, pylint

fix clock offset detection. Original code did not properly check for negative offsets.
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

attribute error
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

improve logging of clock offset value
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

CR: Add small jitter to prevent synchronization bursts
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

unifi log message between C+ and Circle
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

fixup: mdi_clock Python code reformatted using Ruff
  plugwise_usb/network/cache.py
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Full test-output
  scripts/tests_and_coverage.sh
Due: none

Add CirclePlusRealTimeClockSetRequest with ACK
  tests/stick_test_data.py
Due: userdata

Try with 00D7
  tests/stick_test_data.py
Due: userdata

Add missing comma
  tests/stick_test_data.py
Due: userdata
