Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

userdata:
  name: userdata
  entry: scripts/pre-commit.sh
  language: script
  pass_filenames: false

mypy:
  name: mypy
  entry: scripts/run-in-env.sh mypy
  language: script
  require_serial: true

pylint:
  name: pylint
  entry: scripts/run-in-env.sh pylint -j 0
  language: script

CR: Fix typo in docstring CR: Fix incorrect bitwise operator for dirty flag CR: Fix boolean cache retrieval logic
  plugwise_usb/nodes/node.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Improve MotionSensitivity class
  plugwise_usb/api.py
Due: userdata, pylint

Fix typo
  plugwise_usb/api.py
Due: userdata, pylint

fix introduced cache storage bug of sensitivity level
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Fix removed constant
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Bump to a3 for testpypi update
  pyproject.toml
Due: none

Change sensitivity_level to int
  plugwise_usb/nodes/scan.py
  tests/test_usb.py
Due: userdata, pylint

Ruffed
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  tests/test_usb.py
Due: userdata, pylint

Fix sensitivity_level from cache
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

remove temporary test-escape
  tests/test_usb.py
Due: userdata

second attempt to fix, according to @bouwew recommendation
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

CR: Nitpicks SonarQube: improve test code
  plugwise_usb/nodes/sed.py
  tests/test_usb.py
Due: userdata, pylint

generate testpypi
  pyproject.toml
Due: none

Address @bouwew comments Address sonarqubecloud comments
  plugwise_usb/network/__init__.py
  plugwise_usb/network/cache.py
  plugwise_usb/network/registry.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  tests/test_usb.py
Due: userdata, pylint

reintegrate delay_task call in order to let awake response finish first, otherwise the message sending queue crashes. Remove node_ping as this was not benificial
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Adapt scan.py
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

CR: make function type explicit
  plugwise_usb/network/registry.py
Due: userdata, pylint

Add new energy_log_record at the front of the cache
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Remove double reverse sorting
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump to a4
  pyproject.toml
Due: none

fixup: mdi_CPRegistry Python code reformatted using Ruff
  plugwise_usb/network/__init__.py
Due: userdata, pylint

fix variable name
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

simplify motion config dirty state simplify sed config dirty state
  plugwise_usb/api.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  plugwise_usb/nodes/sense.py
  plugwise_usb/nodes/switch.py
  tests/test_usb.py
Due: userdata, pylint

CR: Fix list modification during iteration CR: The type annotation uses incorrect syntax. CR: The registry’s private scan method calls
  plugwise_usb/network/__init__.py
  plugwise_usb/network/cache.py
  plugwise_usb/network/registry.py
Due: userdata, pylint

simply bool retrieval from cache
  plugwise_usb/nodes/node.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

initial fixes to SED node testing
  tests/test_usb.py
Due: userdata

fixup: mdi_CPRegistry Python code reformatted using Ruff
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

create test release
  CHANGELOG.md
  pyproject.toml
Due: none

update and fix testing
  tests/test_usb.py
Due: userdata

update node loading strategy, maybe this can be improved to load instantly after discover happens
  plugwise_usb/network/__init__.py
  plugwise_usb/network/registry.py
Due: userdata, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$
