Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

Use matrix version
  .github/workflows/verify.yml
Due: none

Align with python-plugwise
  .github/workflows/verify.yml
  .pre-commit-config.yaml
Due: none

Test/validate Py314 (#356)
  .github/actions/restore-venv/action.yml
  .github/workflows/merge.yml
  .github/workflows/verify.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: none

Implement simpler suggestion
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Solve monthly overflow as reported in #399
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Update CHANGELOG
  CHANGELOG.md
Due: none

Simplify as suggested
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Modulo 7 is not required
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Add clock-sync testcase to test monthly rollover
  tests/test_usb.py
Due: userdata

Extend stick_test_data
  tests/stick_test_data.py
Due: userdata

Fix end of file
  tests/test_usb.py
Due: userdata

fixup: fix-399 Python code fixed using Ruff
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata

Change to non-async function
  tests/test_usb.py
Due: userdata

Implement suggested correction
  tests/test_usb.py
Due: userdata

Make sure to test circle clock-sync
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata

Try
  tests/test_usb.py
Due: userdata

Simplify testcase, check for occurrence of ValueError
  tests/test_usb.py
Due: userdata

Circle: line up clock-sync method with CirclePlus
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Adapt to difference in response format
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fix docstring
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Fix missing _node_protocols check
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Bump version to v0.47.2
  CHANGELOG.md
  pyproject.toml
Due: none

Add plus_pair_request function
  plugwise_usb/__init__.py
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Network: collect channel info
  plugwise_usb/__init__.py
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Import, extra response-check
  plugwise_usb/network/__init__.py
Due: userdata, pylint

Add 0001-0002 combi
  tests/stick_test_data.py
Due: userdata

Debug, rename to response
  plugwise_usb/network/__init__.py
  tests/stick_test_data.py
Due: userdata, pylint

Fix response-length
  plugwise_usb/messages/responses.py
Due: userdata, pylint

Clear debug
  plugwise_usb/network/__init__.py
Due: userdata, pylint

v0.48.0a0 test-version
  pyproject.toml
Due: none

fixup: show_channel Python code fixed using Ruff
  plugwise_usb/connection/__init__.py
  plugwise_usb/network/__init__.py
  tests/stick_test_data.py
Due: userdata, pylint

Fix str, Enum -> Enum
  plugwise_usb/api.py
Due: userdata, pylint

Fix
  plugwise_usb/connection/__init__.py
Due: userdata, pylint

Use StrEnum to support sorting
  plugwise_usb/api.py
Due: userdata, pylint

fixup: show_channel Python code fixed using Ruff
  plugwise_usb/connection/__init__.py
Due: userdata, pylint

Extra guarding of channel, as suggested
  plugwise_usb/__init__.py
Due: userdata, pylint

Ruff: disable PLW0108 check
  pyproject.toml
  tests/test_usb.py
Due: userdata

Except (A, B):
  plugwise_usb/connection/__init__.py
Due: userdata, pylint

Ruffed
  plugwise_usb/__init__.py
Due: userdata, pylint
