Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

Adapt test asserts
  tests/test_usb.py
Due: userdata

fixup: testing345 Python code reformatted using Ruff
  plugwise_usb/nodes/scan.py
  tests/test_usb.py
Due: userdata, pylint

Scan: adapt further towards sed
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

HOI debug
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Test scan : line up to sed test
  tests/test_usb.py
Due: userdata

HOI debug awake_duration
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Extra scan debug
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Test scan: add features assert
  tests/test_usb.py
Due: userdata

Don't reset _new_* when response is None
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Try test
  tests/test_usb.py
Due: userdata

Try test 2
  tests/test_usb.py
Due: userdata

Try test3
  tests/test_usb.py
Due: userdata

Try revert no reset after None response
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Try test4
  tests/test_usb.py
Due: userdata

Move task-bool just before setting tasks
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Try test5
  tests/test_usb.py
Due: userdata

More SED debug
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Move logger before guard
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Ruff fixes
  plugwise_usb/nodes/scan.py
  tests/test_usb.py
Due: userdata, pylint

Move await to schedule_task_when_awake()
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

Skip using _energy_log_records_save_to_cache()
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

check if cache is available before prune operation
  plugwise_usb/network/registry.py
Due: userdata, pylint

remove awake queue
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

update node loading strategy, maybe this can be improved to load instantly after discover happens
  plugwise_usb/network/__init__.py
  plugwise_usb/network/registry.py
Due: userdata, pylint

simplify motion config dirty state simplify sed config dirty state
  plugwise_usb/api.py
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
  plugwise_usb/nodes/sense.py
  plugwise_usb/nodes/switch.py
  tests/test_usb.py
Due: userdata, pylint

improve readability circle.py expose dirty flag properly
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

fix unreachable code
  plugwise_usb/network/__init__.py
Due: userdata, pylint

ruff format
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

update and fix testing
  tests/test_usb.py
Due: userdata

CR: Fix list modification during iteration CR: The type annotation uses incorrect syntax. CR: The registry’s private scan method calls
  plugwise_usb/network/__init__.py
  plugwise_usb/network/cache.py
  plugwise_usb/network/registry.py
Due: userdata, pylint

fix mistake
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

simply bool retrieval from cache
  plugwise_usb/nodes/node.py
  plugwise_usb/nodes/scan.py
  plugwise_usb/nodes/sed.py
Due: userdata, pylint

create test release
  CHANGELOG.md
  pyproject.toml
Due: none

initial fixes to SED node testing
  tests/test_usb.py
Due: userdata

fixup: mdi_CPRegistry Python code reformatted using Ruff
  plugwise_usb/network/__init__.py
Due: userdata, pylint

bugfix ()=>[]
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

Revert sens-level cache value
  tests/test_usb.py
Due: userdata

fixup: mdi_CPRegistry Python code reformatted using Ruff
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

fix variable name
  plugwise_usb/nodes/scan.py
Due: userdata, pylint

remove test-debug message fix testing by providing cache-data to SED
  plugwise_usb/nodes/sed.py
  tests/test_usb.py
Due: userdata, pylint
