Repository plugwise/python-plugwise-usb: changes, and which pre-commit hooks are due for each by the changed paths.
All: userdata, mypy, pylint

Path conditions:
  userdata: any of: \.py$
  mypy: any of: ^plugwise_usb/$ and \.py$
  pylint: any of: ^plugwise_usb/.+\.py$ and \.py$

Update 0028 response
  tests/stick_test_data.py
Due: userdata

Change time bij 30 secs
  tests/test_usb.py
Due: userdata

Line up circle-clock-sync code
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Get proper datetime to compare the received datetime with
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Try
  tests/stick_test_data.py
Due: userdata

fixup: test_bouwew Python code reformatted using Ruff
  tests/stick_test_data.py
Due: userdata

Introduce clock offset of 10s
  tests/stick_test_data.py
Due: userdata

Correct var name
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Add missing comma
  tests/stick_test_data.py
Due: userdata

fixup: mdi_clock Python code reformatted using Ruff
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Properly calc resulting day value
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Fix adding/deleting day(s)
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Set debug-level to warning, line up messages
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Back to normal test-output
  scripts/tests_and_coverage.sh
Due: none

unifi log message between C+ and Circle
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

update changelog
  CHANGELOG.md
Due: none

Clean up
  tests/stick_test_data.py
Due: userdata

Fix year error
  tests/stick_test_data.py
Due: userdata

Remove test-debugging
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

CR: Add small jitter to prevent synchronization bursts
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Revert back to utc_now
  tests/stick_test_data.py
Due: userdata

Revert node id in warning logs
  plugwise_usb/nodes/circle.py
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

attribute error
  plugwise_usb/nodes/circle.py
Due: userdata, pylint

Try 2
  tests/stick_test_data.py
Due: userdata

Fix 0028 datetime
  tests/stick_test_data.py
Due: userdata

Update 0028-data from test-output
  tests/stick_test_data.py
Due: userdata

Try 4
  tests/test_usb.py
Due: userdata

Try 3
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata

Update 0028-response to match change
  tests/stick_test_data.py
Due: userdata

10s offset Circle+
  tests/stick_test_data.py
Due: userdata

Fix typo
  tests/stick_test_data.py
Due: userdata

Freeze-time for test_node_relay_and_power
  tests/test_usb.py
Due: userdata

More clean up
  tests/stick_test_data.py
Due: userdata

Add pytest settings
  pyproject.toml
Due: none

Try adding a 2nd optional response
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata

Ruffed
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Full naming
  plugwise_usb/nodes/circle_plus.py
Due: userdata, pylint

Revert test-updates
  tests/stick_test_data.py
Due: userdata

Also freeze_time test_node_discovery_and_load
  tests/stick_test_data.py
  tests/test_usb.py
Due: userdata
